<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" href = "css/login.css">
	</head>
	<style>
		.main-form{
			height: 600px !important;
		}
	</style>
	<body>
		<div style="background-image:linear-gradient(rgba(0,0,0,0.4),#00000080),url(images/background.jpg);height: 100vh; 
		background-size: 100% 100%;background-position: center; opacity: 0.6; background-color: rgba(135, 63, 217, 0.73);">
		</div>
		<div id="tsparticles"></div>
		<div class="social">
			<form class="main-form" action = '/login' name = 'login' method = 'post'>
				<h3>Login Here</h3>
				<label for="username"> <b>Username</b></label>
				<input type = 'text' name = 'username' placeholder = 'Enter Username' maxlength = '<%= username_length %>' required>
				<label for="password"><b>Password</b></label>
				<input type = 'password' name = 'password' placeholder = 'Enter Password' maxlength = '<%= password_length %>' required>
				<div id = 'error'><% if (error == 1) { %><%= "Username or password incorrect." %><% } %></div>
				<button type="submit" value="Verify"><b> Verify</b></button>
				<a href="/signup" class="signup-btn"> <b>Signup</b></a>
			</form>
		</div>
	</body>
</html>
